* {
    font-family: 'Oxford' !important;
}

.float-l {
    float: left !important;
}

.float-r {
    float: right !important;
}

.height-55 {
    height: 55px !important;
}

.pointer {
    cursor:pointer;
}

/*Layout*/
.navbar.navbar-inverse {
    background-image: url('Frontend/Images/header_back.jpg');
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.dnipro {
    background-image: url('Frontend/Images/dhu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 55%;
    margin-left: 120px;
    display: inline-block;
}

.logo {
    top: -10px;
    position: absolute;
    margin-left: 20px;
}

    .logo a {
        background-image: url('Frontend/Images/Logo.png');
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100px;
        display: block;
    }

.phones {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

    .phones ul {
        list-style-type: none;
    }

    .phones li {
        margin-top: 10px;
    }

    .phones img {
        width: 20px;
        height: 20px;
    }

.navbar {
    min-height: 40px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.navbar-default {
    margin-bottom: 0px;
}

.navbar-collapse {
    padding: 0;
    font-size: 16px;
}

    .navbar-collapse .nav.navbar-nav a {
        padding: 10px 15px;
        text-align: center;
    }

    .navbar-collapse .nav.navbar-nav li, .nav.navbar-nav {
        padding: 0 !important;
    }

        .navbar-collapse .nav.navbar-nav li.active a {
            background: none !important;
            color: #0006FF;
            font-size: 18px;
            text-shadow: 1px 1px 2px black, 0 0 1em #FBFF03;
        }

.snivel-wrapper {
    clear: both;
    height: 35px;
    margin-top: -2px;
    overflow: hidden;
    position: relative;
    background: center 1px repeat-x;
}

.snivel {
    width: 4000px;
    height: 26px;
    background: url('Frontend/Images/snivel.png') left top repeat-x;
    position: absolute;
    left: 50%;
}

.navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
    opacity: 1 !important;
}

/* Toolbox */

.row.well {
    border-radius: 0;
    background: #e3e3e3;
}

.onPage li.active {
    border: 1px solid #A2A2A2;
    background: #a2a2a2;
    color: white;
}

.onPage li {
    border: 1px solid #D6D6D6;
}

.onPage {
    margin: 7px 20px 0px 20px;
}

/*End Layout*/
