* {
    font-family: 'Oxford';
}

.error {
    border: 1px solid red !important;
}

.float-l {
    float: left !important;
}

.float-r {
    float: right !important;
}

.height-55 {
    height: 55px !important;
}

.pointer {
    cursor: pointer;
}

.btn.btn-default {
    background: #a2a2a2;
}

.inline-block {
    display: inline-block !important;
}

.no-decoration {
    text-decoration: none !important;
}

.clear-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.fa-check {
    color: #00C200;
}

.fa-checkBox {
    border: 1px solid #ddd;
    padding: 15px 5px;
}

.fa-hourglass-1 {
    color: lightgrey;
}

.fa-hourglassBox {
    border: 1px solid #ddd;
    padding: 15px 5px;
}

.fa-exclamation-triangle {
    color: red;
}

.fa-exclamationBox {
    border: 1px solid #ddd;
    padding: 15px 5px;
}

li.list-group-item, button, input[type='button'] {
    border-radius: 0 !important;
}

/*Layout*/
.navbar.navbar-inverse {
    background-image: url('Frontend/Images/header_back.jpg');
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.dnipro {
    background-image: url('Frontend/Images/dhu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 55%;
    margin-left: 120px;
    display: inline-block;
}

.logo {
    top: -10px;
    position: absolute;
    margin-left: 20px;
}

    .logo a {
        background-image: url('Frontend/Images/Logo.png');
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100px;
        display: block;
    }

.phones {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

    .phones ul {
        list-style-type: none;
        padding-left: 10px;
    }

    .phones li {
        margin-top: 10px;
    }

    .phones img {
        width: 20px;
        height: 20px;
    }

.navbar {
    min-height: 40px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.navbar-default {
    margin-bottom: 0px;
}

.navbar-collapse {
    padding: 0;
    font-size: 16px;
}

    .navbar-collapse .nav.navbar-nav a {
        padding: 10px 15px;
        text-align: center;
    }

    .navbar-collapse .nav.navbar-nav li, .nav.navbar-nav {
        padding: 0 !important;
    }

        .navbar-collapse .nav.navbar-nav li.active a {
            background: none !important;
            color: #0006FF;
            font-size: 18px;
            text-shadow: 1px 1px 2px black, 0 0 1em #FBFF03;
        }

.snivel-wrapper {
    clear: both;
    height: 35px;
    margin-top: -2px;
    overflow: hidden;
    position: relative;
    background: center 1px repeat-x;
}

.snivel {
    width: 4000px;
    height: 26px;
    background: url('Frontend/Images/snivel.png') left top repeat-x;
    position: absolute;
    left: 50%;
}

.navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
    opacity: 1 !important;
}

#rates {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 30px;
    width: 150px;
}

/* Toolbox */

.row.well {
    border-radius: 0 !important;
    background: #e3e3e3 !important;
}

.onPage li.active {
    border: 1px solid #A2A2A2;
    background: #a2a2a2;
    color: white;
}

.onPage li {
    border: 1px solid #D6D6D6;
}

.onPage {
    margin: 7px 20px 0px 20px;
}

/*End Layout*/

/* Product list*/

ul i.fa-database {
    color: #2727A1;
}

ul i.fa-cubes {
    color: #C26D44;
}

a.page {
    padding: 3px 6px !important;
    background: #e3e3e3 !important;
}

li.active a.page, li.active a.page:hover, li.active a.page:focus {
    background: #a2a2a2 !important;
    border: 1px solid #a2a2a2 !important;
}

.priceBlock .originalPrice {
    font-size: 45px;
    color: orange;
    font-weight: bold;
}

    .priceBlock .originalPrice .currency {
        font-size: 30px;
    }

.priceBlock .originalUAH {
    color: rgb(44, 65, 133);
    font-size: 14px;
}

.stock i.fa{
    width:165px;
    text-align:center;
}

/* Product list*/
