* {
    font-family: 'Oxford';
}

/*Layout*/
.navbar.navbar-inverse {
    background-image: url('Frontend/Images/header_back.jpg');
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.dnipro {
    background-image: url('Frontend/Images/dhu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 55%;
    margin-left: 120px;
    display: inline-block;
}

.logo {
    top: -10px;
    position: absolute;
    margin-left: 20px;
}

    .logo a {
        background-image: url('Frontend/Images/Logo.png');
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100px;
        display: block;
    }

.phones {
    display: inline-block;
        position: relative;
        font-size:16px
}

    .phones ul {
        list-style-type: none;
    }

    .phones li {
        margin-top:10px;
    }

    .phones img {
        width: 20px;
        height: 20px;
    }
/*End Layout*/
