<div class="row">
    <div class="col-md-12 col-xs-12 m-t-10 p-b-20 height-250 p-l-0 p-r-0" data-ng-repeat="product in products">
        <div class="row">
            <a href="Product/{{product.Id}}" class="no-decoration p-l-0 p-r-0 pull-left col-md-3 col-xs-12 width-250 height-250">
                <img data-ng-src="{{product.ImagePath}}" class="float-l" style="max-height:100%; max-width:100%;" />
            </a>
            <div class="col-md-9 col-xs-12">
                <a href="/Product/{{product.Id}}" class="float-l no-decoration " style="width: 100%; text-align: center;">
                    <h3 class="m-t-0 m-b-0">{{product.Title | uppercase}}</h3>
                </a>
                <div class="col-md-4" data-ng-if="product.Packing.length > 0">
                    <span class="f-s-16">Фасовка:</span>
                    <ul class="list-inline" style="width: 300px;">
                        <li class="list-group-item f-s-14 width-100 text-center" data-ng-repeat="pack in product.Packing"><i class="fa fa-2x m-r-5 f-s-20" data-ng-class="{ 'fa-database': pack.indexOf('л') > 0, 'fa-cubes': pack.indexOf('кг') > 0  }"></i>{{pack}}</li>
                    </ul>
                </div>
                <div class="col-md-4 pull-right"></div>
                <span class="col-md-12 f-s-16 text-justify">{{product.Description}}</span>

            </div>
            @*<div class="row m-t-10 p-l-0 p-r-15">
                    <div class="col-md-7 col-sm-6 col-xs-6 m-b-10 p-l-0">

                        <span class="block m-l-30 m-t-5 f-s-10">by <span class="blue">{{news.Author.UserFullName}}</span></span>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 p-0 m-t-2">
                        <a href="/News/{{news.Id}}" class="btn btn-sm btn-bg-blue pull-right btn-standart f-s-12 m-t-min-10">Read Full Story</a>
                    </div>
                </div>*@
        </div>
    </div>
</div>